<nav class="fixed top-0 w-full z-20 h-16 sm:h-20 lg:h-24 px-5 sm:px-8 md:px-12 lg:px-16 xl:px-24 bg-base flex items-center justify-between">
  <div class="font-playfair text-primary tracking-wider text-3xl font-bold">
    MF
  </div>
  <%= render 'layouts/nav/mobile_menu_btn' %>
</nav>