<div class="h-screen -mt-28">
  <div class="flex flex-col justify-center items-center h-full">
    <h1 class="font-playfair italic font-bold text-6xl sm:text-8xl lg:text-9xl mb-1 md:mb-2 lg:mb-4">Moises Felix</h1>
    <h2 class="font-playfair italic font-bold text-gray-300 text-3xl sm:text-5xl lg:text-6xl mb-2 lg:mb-4">Electrical Engineer</h2>
    <p class="mt-2 lg:mt-4 mb-4 font-light text-muted text-center
              max-w-xs sm:max-w-md md:max-w-md lg:max-w-lg lg:text-lg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Urna neque viverra justo nec ultrices dui. Non blandit massa enim nec dui
      nunc mattis enim.
    </p>
    <%= button_to 'Lorem ipsum', root_path, class: "btn btn-primary" %>
  </div>
</div>
